/* Iconic Fonts */
@font-face {
  font-family: 'fontello';
  src: url("fonts/jif/fontello.eot");
  src: url("fonts/jif/fontello.eot?#iefix") format("embedded-opentype"), url("fonts/jif/fontello.svg") format("svg"), url("fonts/jif/fontello.ttf") format("truetype"), url("fonts/jif/fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*Proxima nova*/
/*Light*/
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima_nova_light/proximanova-light-webfont.eot");
  src: url("../fonts/proxima_nova_light/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_light/proximanova-light-webfont.woff") format("woff"), url("../fonts/proxima_nova_light/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proxima_nova_light/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: 300;
  font-style: normal; }
/* Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima_nova_regular/proximanova-regular-webfont.eot");
  src: url("../fonts/proxima_nova_regular/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_regular/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proxima_nova_regular/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proxima_nova_regular/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: 400;
  font-style: normal; }
/* Semibold */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima_nova_semibold/proxima_nova_semibold-webfont.eot");
  src: url("../fonts/proxima_nova_semibold/proxima_nova_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_semibold/proxima_nova_semibold-webfont.woff") format("woff"), url("../fonts/proxima_nova_semibold/proxima_nova_semibold-webfont.ttf") format("truetype"), url("../fonts/proxima_nova_semibold/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
/* Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.eot");
  src: url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.woff") format("woff"), url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.ttf") format("truetype"), url("../fonts/proxima_nova_bold/proxima_nova_bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: 700;
  font-style: normal; }
html, body {
  font-family: 'Proxima Nova';
  font-size: 14px; }

* {
  padding: 0;
  margin: 0;
  color: #000; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.page-container .filter, .page-container .shrink-container {
  float: left; }
.page-container .list-container {
  width: 100%;
  height: calc(100vh - 127px);
  overflow: scroll; }
.page-container.filter-open .shrink-container {
  width: calc(100% - 200px); }

.nav {
  min-height: 60px;
  border: solid 1px #f6f6f6; }
  .nav .header {
    margin-left: 34px;
    display: flex;
    align-items: center;
    height: 60px; }
  .nav .menu {
    float: left; }
    .nav .menu li {
      list-style: none; }
    .nav .menu a {
      display: block;
      padding: 15px; }
  .nav .menu.right {
    float: right; }

.list-menu {
  min-height: 60px;
  border-bottom: solid 1px #f6f6f6; }
  .list-menu .item {
    float: left;
    padding: 10px; }
    .list-menu .item.right {
      float: right; }
    .list-menu .item a {
      display: block;
      line-height: 20px;
      padding: 10px; }
    .list-menu .item input {
      height: 40px; }
  .list-menu .item.bordered li {
    border-top: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    float: left; }
    .list-menu .item.bordered li:first-child {
      border-left: solid 1px #e7e7e7; }
  .list-menu .list-inline li {
    display: inline-block; }

table.list {
  width: 1200px;
  font-size: 12px; }
  table.list thead {
    position: sticky;
    top: 0px; }
  table.list th {
    text-transform: uppercase; }
  table.list td {
    vertical-align: middle; }
    table.list td .status {
      height: 40px; }
    table.list td .status.approved {
      border-left: solid 4px #0bc893; }
  table.list th, table.list td {
    text-align: left;
    height: 50px;
    padding: 0 10px; }

.filter {
  width: 200px;
  height: calc(100vh - 63px);
  background-color: #fafafb; }

/*# sourceMappingURL=app.css.map */
