.page-container {
	.filter, .shrink-container{
		float: left;
	}
	.list-container {
		width: 100%;
		height: calc(100vh - 127px);
		overflow: scroll;
	}
	&.filter-open {
		.shrink-container {
			width: calc(100% - 200px);
		}
	}
	
}
