.nav {
	min-height: 60px;
	border: solid 1px #f6f6f6;	
	
	.header {
		margin-left: 34px;
		display: flex;
		align-items: center;
		height: 60px;
	}
	.menu {
		float: left;
		li {
			list-style: none;
		}
		a {
			display: block;
			padding: 15px;
		}
	}
	.menu.right {
		float: right;
	}
}
